body {
    font-family: Georgia;
    background: linear-gradient(to top, rgba(228.0, 222.0, 219.0, 0), rgba(228.0, 222.0, 219.0, 1.0));
    background-repeat: no-repeat;
}

header {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.header-container {
    flex-basis: 0px;
    flex-grow: 1;
}

.header-image-container {
    position: relative;
    top: 131px;
    margin-left: auto;
    max-width: 397px;
    height: 100%;
}

.headshot {
    object-fit: fit;
    object-position: right bottom;
}

.header-info-container {
   position: relative;
   top: 131px;
   margin-left: 50px;

}

body a:link {
    text-decoration: none;
    color: #A5B5BC;
}

body a:hover {
    text-decoration: underline;
    color: #A5B5BC;
}

body a:visited {
    text-decoration: none;
    color: #A5B5BC;
}

.bio-container{
    margin-left: auto;
    margin-right: auto;
    line-height: 2.0;
    width: 450px;
}

p {
    text-indent: 50px;
}

.credits{ 
    position: relative;
    bottom: 15px;
    display: inline;
    font-size: 10px;
    color: white;
    display:block;
}

